﻿@model Piteste.Models.AnoLetivo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AnoLetivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnoLetivoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
