﻿@model Piteste.Models.Aluno
 
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Study Up", "HomeAdm", "Pessoas", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "HomeAdm", "Pessoas")</li>

                    <li>@Html.ActionLink("Sair", "Logar", "Publico")</li>
                </ul>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.NomeAluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeAluno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CpfAluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CpfAluno)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.Responsavel.CpfResponsavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsavel.CpfResponsavel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnderecoAluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnderecoAluno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtivoAluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtivoAluno)
        </dd>       

        <dt>
            @Html.DisplayNameFor(model => model.TipoAluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAluno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlunoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
