﻿@model Piteste.Models.Pessoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PessoaEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PessoaEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PessoaSenha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PessoaSenha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PessoaTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PessoaTipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PessoaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
