﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title StudyUp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Study Up", "HomeAdm", "Pessoas", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Cadastrar Professores", "Index", "Professores")</li>
                    <li>@Html.ActionLink("Cadastrar Responsaveis", "Index", "Responsaveis")</li>
                    <li>@Html.ActionLink("Cadastrar Alunos", "Index", "Alunos")</li>
                    <li>@Html.ActionLink("Cadastrar Classe", "Index", "Classes")</li>   
                    <li>@Html.ActionLink("Ano Letivo", "Index", "AnoLetivos")</li>
                    <li>@Html.ActionLink("Sair", "Logar", "Publico")</li>
                </ul>
            </div>
        </div>
    </div>
    @{
        Piteste.Models.Pessoa pessoa = Piteste.Repositories.Funcoes.GetUsuario();
        if (pessoa != null)
        {
           
        }
        else
        {
            <script type="text/javascript">
                window.location.href = "@Url.Action("Logar","Publico")";
            </script>
        }
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>