﻿@model IEnumerable<Piteste.Models.Pessoa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PessoaEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PessoaSenha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PessoaTipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PessoaEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PessoaSenha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PessoaTipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PessoaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PessoaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PessoaID })
        </td>
    </tr>
}

</table>
