﻿@model Piteste.Models.Professor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Study Up", "HomeAdm", "Pessoas", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "HomeAdm", "Pessoas")</li>

                    <li>@Html.ActionLink("Sair", "Logar", "Publico")</li>
                </ul>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Professor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CpfProfessor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CpfProfessor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnderecoProfessor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnderecoProfessor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtivoProfessor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtivoProfessor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoProfessor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoProfessor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailProfessor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailProfessor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeProfessor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProfessor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
